body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    background-image: url(/images/toDoList.jpg);
    background-size: cover;
  }

.clock {
    position: fixed;
    top: 20%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 40px; 
    font-family: "Righteous", cursive;
    letter-spacing: 1px;
    padding: 30px; 
    background-color: rgba(0, 0, 0, 0.2); 
    border-radius: 20px; 
  }

.form{
    position: absolute;
    top: 30%;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    width: 400px;
    background-color: #cc9c6f;
    border-radius: 10px;
}

.input{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    border: none;
    font-size: 20px;
    font-family: cursive;
}

.input::placeholder{
    color: lightgray;
}

.list{
    padding: 0;
    margin: 0;
}

.list li{
    list-style-type: none;
    padding: 20px;
    font-family: cursive;
    color: white;
    font-size: 18px;
    border-top: dotted;
    border-color: white;
    position: relative;
}

.list li .fa-trash{
    color: #495922;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.list li .fa-check-square{
    color: white;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.list li.checked {
    color: black;
    text-decoration: line-through;
}

.list li.checked .fa-check-square{
    color: black;
}